
.inter-normal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: Black;
  font-style: normal;
  font-size: 34px;
}

.raleway-awesome-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold ;
  font-style: normal;
  font-size: 65px;
}

.banner-img{
    width: 403px;
    border-radius: 48px;
    width:100%;
    gap: 260px;
    
}
/* header */

.header{
    background-image: url('../Assets/Hero-bg.png');
   padding: 50px;
   width: 1440px;
   height:698px;
}
div{
    align-items: center;
   gap: 23px;

}

/* nav styles */
nav{
    display: flex;
    color: #4E47FF;
}
nav ul li{
    list-style: none;
   
}
.banner{
 margin:0 auto;
}
/* shared styles */
.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding:50px 80px;
    gap: 10px;
    width: 1140px;
    margin-left:141px;
    margin-right:271px ;
    text-align: center;
    margin-top:120px;
}


.banner-content{
 text-align: center;
 padding:250px 300px;
}
nav{
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
/* button styles */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    font-size: 16px;
    border-radius: 10px;
}
.raleway-awesome-font1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold ;
  font-style: normal;
  font-size: 42px;
  width: 517px;
  height:49px ;
}
/* action styles */
.action-description{
  font-family: "Raleway", sans-serif;
  font-weight:normal;
  font-size:24px ;
  color: rgba(37, 36, 50, 0.5);
}
.action{
    display: flex;
    align-items: center;
    gap:220px;
    margin:151px 261px;
    width: 1140px;
}
.action-image{
    border-radius:48px;
    width:403px;
    height: 328px;
    
}
/* user-section */
.section-title{
     font-family:"Raleway", sans-serif;
     font-weight:bold;
     font-size:38px;
     color: #252432;
}
.Users-items h2{
    font-size:80px;
    font-weight:bold;
    color: #4E47FF;
   padding:9px 24px;
    gap: 158px;

}
.Users-items{
    display: flex;
    justify-content: space-around;
  
}



 





